@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.container{
  background-color: rgb(255, 228, 194);
}

#profileCard {
  background-color: rgb(253, 253, 253);
  box-shadow: 1px 3px 10px rgb(214, 214, 214);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 500px;
}

#stars {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(255, 232, 98);
}

#kirby {
  width: 200px;
  border-radius: 100px;
}

#title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 35px;
  padding: 15px 10px 1px 10px;
}

#socialText {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  font-size: 13px;
}

#description {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

#buttons {
  margin-top: 15px;
}

#follow {
  background-color: #fc748f;
  color: white;
  border-radius: 30px;
  padding: 5px 40px;
  margin-right: 10px;
}

#message {
  border-radius: 30px;
  padding: 5px 40px;
  margin-left: 10px;
}
